<?xml version="1.0" encoding="UTF-8" ?>
<phpunit bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="simutrans-save-api-php">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <const name="SAVE_DIR" value="tests/save"/>
    </php>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
</phpunit>
